<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/emailverify.css">
    <title>Join now</title>
</head>
<body class="bg-gray-900  min-h-screen flex items-center justify-center">
    <div class="rounded-2xl bg-gray-800 max-w-md w-full pl-20 pt-16"><!--main-->
      <h1 class="text-zinc-300 font-mono mr-20 font-bold text-3xl mb-10 text-center hover:text-red-950 transition-all duration-[]">verify your email,please:)</h1>
      <div class=" max-w-md  w-full ml-6 pb-16"> <!--input-->
        <form action="/verify" method="post" class="">
             <label for="email" class=" text-gray-300 block mt-2">Email:</label>
          <input type="email" name="email" placeholder="Email" class="rounded-2xl bg-gray-900 text-white focus:outline-none  h-8 pl-2 w-[240px]">
          <button class="block w-[100px] rounded-[30px] bg-gray-900 text-white hover:bg-slate-50 hover:text-black hover:text-md mt-2 ml-[70px] p-2 hover:pt-4 hover:pb-4 transition-all duration-[0.3s] ease-out">Send code NOW</button>
        </form>
        <p class="text-red-500 font-mono text-center mr-32  "><%= error %></p>
      </div>
    </div>
</body>
</html>
