<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/index.css">
    <title>Password master</title>
</head>
<body class= "bg-bodyColor">
  <nav class="bg-bodyColor border-b-[0.2px] border-b-gray-700 h-[73px] flex items-center sticky top-0 px-16">
  <div class="text-white font-bold text-lg">Password Master</div>
  <div class="ml-auto flex gap-6 items-center">
    <span class="border-l border-l-gray-700 pl-8 mr-[-10px]">
        <h2 class="text-white font-semibold ">Username</h2>
        <p class="text-slate-400 font-thin ">Basic Plan</p>
    </span>
         <img src="./profile.svg" class="mr-4" alt="">
    <img src="./logout.svg" alt="">
  </div>
</nav>
<div class = "mt-12 mb-6 ml-14">
   <h2 class="text-white font-semibold mb-1 text-3xl">Dashboard: Password Generator</h2>
        <p class="text-slate-500 text-md">Create strong, unique passwords for your applications.</p>
        </div>
        <div class="flex w-full justify-center ml-10">
        <div class="w-[878px] h-[610px] ml-[-460px] flex justify-center bg-slate-800 rounded-xl shadow-sm border px-6 pt-10 border-slate-700 ">
            <div class="w-full ">
              <form action="/generate" method="POST">
                <label for="appName" class="mb-1 block text-slate-400">APPLICATION NAME</label>
                <input name="appName" type="text" placeholder="e.g. MyServiceAccount" class=" bg-bodyColor border-none outline-blue-800 p-4 w-full h-18 text-white rounded-lg"/>
                  <label for="length" class="mb-2 mt-14 ml-4 text-xs font-bold block text-slate-400">PASSWORD LENGTH</label>
                  <div class="item-center flex gap-4">     
                <input name="length" type="range" min="6" max="16" class="  p-4 w-full h-18 bg-transparent rounded-lg"/>
                 <div class="text-blue-500 text-xl mt-[-10px] font-bold bg-blue-900/40 h-full p-2">24</div>
                </div>
                <button class=" bg-[#135BEC] font-bold text-xl h-16 text-white px-4 py-2 rounded-lg w-full mt-6 hover:bg-blue-700">Generate Password</button>
          </form> 
          <div class="w-full h-[149px] mb-8 bg-bodyColor/50 rounded-xl shadow-sm border px-6 border-slate-700 mt-14">
            <div class=" text-slate-400 text-[12px] font-bold font-mono mt-6">GENERATED PASSWORD</div>
            <div class="flex justify-between item-center w-full">
            <div class=" text-white text-2xl font-medium font-mono mt-4 "><span class="text-blue-600">MyServiceAccount:</span>x8#Vp2!qK9@MnR4z </div>
                   <img src="./copy.svg" class="w-8 cursor-pointer " alt="">
            </div>
         </div>
        </div>
        </div>
        <style>
/* Chrome, Safari, Edge */
input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  background-color: #135BEC; /* your bar color */
  border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* must remove default to style thumb */
  height: 20px;
  width: 20px;
  background-color: #F0F0F0; /* dot color */
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px; /* center the thumb on track */
}

/* Firefox */
input[type=range]::-moz-range-track {
  height: 8px;
  background-color: #135BEC;
  border-radius: 4px;
}

input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

</style>
</body>
</html>